.block
  .block_head
    .bheadl
    .bheadr
    %h2 Users
    %span.ajax-loading
    %ul
      %li
        = link_to "Add User", new_user_path
  / .block_head ends
  .block_content
    %form{:action => "", :method => "post"}
      %table{:cellpadding => "0", :cellspacing => "0", :width => "100%", :id => "users"}
        %tr
          %th Name
          %th Email
          %td &nbsp;
        - @users.each do |user|
          = render user

      
  / .block_content ends
  .bendl
  .bendr
