:javascript

  var timerStarted;
  var pollURL = '/list';

  fetchBuilds = function() {
    $.getJSON(pollURL, function(data) {
      //data = data.reverse();
      $.each(data, function(i, build) {
        template = $(renderTemplate('javascripts/templates/build.js.haml', build)).hide();
        bid = '#' + build.id;

        if($(bid).length == 1) {
          template.show();
          $(bid).replaceWith(template);
        } else {
          $('#builds').append(template);
          template.fadeIn('slow');
        }
      });
    });
  }

  $('a.project-view').live('click', function(e) {
    e.preventDefault();
    $('#builds').html('');
    pollURL = $(this).attr('href');
    buildTimer();
  });

  buildTimer = function() {
    fetchBuilds();
    clearInterval(timerStarted);
    timerStarted = setInterval(function() {
      //console.log(pollURL);
      fetchBuilds();
    }, 10000);
  }

  buildTimer();
