- @builds.each do |build|
  = render build

:javascript
  setInterval(function() {
    $.get('/list', function(data) {
      $.each(data, function(i, build) {
        template = renderTemplate('javascripts/templates/build.js.haml', build);
        $('#builds').append(template);
      });
    });
  },10000);
